.main-text {
    text-align: center;
}

.contact-icons-wrapper {
    display: flex;
    justify-content: center;
}

.contact-icons {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    gap: 0.5rem;
    width: 50%;
    margin-top: 2rem;
}
