.main-text {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    place-items: center;
}

.class-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    padding: 1rem;
    transition: all ease-in-out 200ms;
}

.class-card:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0.7rem #09C95655;
}

.class-card-image {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

.see-more-classes-btn {
    padding: 0.4rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: 2;
    margin-top: 1rem;
}

.see-more-classes-btn::after {
    content: "";
    display: block;
    background-color: var(--primary-color);
    width: 100%;
    height: 2px;
}

.see-more-classes-btn:hover {
    cursor: pointer;
}

@media (max-width: 640px) {
    .classes {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .classes {
        grid-template-columns: 1fr;
    }
}